<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
<!-- <link rel="stylesheet" href="https://unpkg.com/axist@latest/dist/axist.min.css" type="text/css"> -->
<!-- https://unpkg.com/bamboo.css -->
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bttn.css/0.2.4/bttn.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<script type="text/javascript" src="https://unpkg.com/@c3r38r170/c3tools"></script>