
		nav{
		position:relative;
			background-color: #000;

		}
		
			nav ul{
				list-style: none;
			
				padding: 0;
			}
	
				nav li{
					display: inline-block;
		    	margin: 20px 0;
					
				}
		
					nav a{
						color: white;
						padding: 20px 20px;
					
						text-decoration: none;
					}
			
						nav a:hover{
							background-color: #42B881;
						}
					nav .salir{
						float:right;
					}
						nav .salir > a:hover{
							background-color:var(--color-peligro);
						}